<header class="topbar">
  <div class="header-row">
    <div class="brand">Fire Menu</div>
    <nav class="tabs" aria-label="Primary navigation">
      <button 
        *ngFor="let tab of tabs"
        [class.active]="selectedTab === tab.value"
        class="tab" 
        type="button"
        (click)="selectTab(tab.value)">
        {{ tab.label }}
      </button>
    </nav>
    <div class="auth-actions">
      <button 
        class="btn btn-primary" 
        type="button" 
        (click)="isAuthenticated ? logout() : toggleLoginPanel()">
        {{ isAuthenticated ? 'Logout' : 'Login' }}
      </button>
    </div>
  </div>
  
</header>

<app-login-modal
  [visible]="showLoginPanel"
  [email]="authEmail"
  [password]="authPassword"
  [error]="authError"
  (emailChange)="authEmail = $event"
  (passwordChange)="authPassword = $event"
  (submit)="isAuthenticated ? logout() : login($event)"
  (close)="toggleLoginPanel()"
></app-login-modal>

<main class="page">
  <section class="list-panel">
    <div class="list-header">
      <div class="list-header-row">
        <div>
          <p class="section-label">Fire Links -- <b>{{selectedTab.toUpperCase()}}</b></p>
        </div>
        <div class="list-actions">
          <button
            type="button"
            class="scroll-top-btn"
            (click)="scrollToTop()"
            aria-label="Scroll to top">
            ↑
          </button>
          <button class="btn btn-success" type="button" (click)="startNew()" [hidden]="!isAuthenticated">New Fire Link</button>
        </div>
      </div>
    </div>

    <app-fire-link-list
      [items]="getDisplayedItems()"
      [isAuthenticated]="isAuthenticated"
      [currentTab]="selectedTab"
      (editItem)="editItem($event)"
      (deleteItem)="deleteItem($event)"
      (toggleFavorite)="toggleFavorite($event)"
      (toggleWatched)="toggleWatched($event)"
    ></app-fire-link-list>
    <div class="list-header-row">
      <div class="list-actions">
        <button
          class="scroll-down-btn"
          (click)="scrollToBottom()"
          aria-label="Scroll to bottom">
          ↓
        </button>
      </div>
    </div>
    
  </section>

  <app-fire-link-form
    [visible]="showModal"
    [model]="formModel"
    [isEditing]="isEditing"
    [isAuthenticated]="isAuthenticated"
    (save)="save($event)"
    (cancel)="cancel()"
    (delete)="deleteItem($event)"
  ></app-fire-link-form>

</main>
